<div class="row">
    <div class="col-md-6">
        <h1>Add a contact</h1>
        <form action="" method="POST" role="form">
            <div class="form-group">
                <label for="fullname">Full name</label>
                <input type="text" id="fullname" class="form-control">
            </div>
            <div class="form-group">
                <label for="job">Job Position</label>
                <input type="text" id="job" class="form-control">
            </div>
            <div class="form-group">
                <label for="nickname">Nick Name</label>
                <input type="text" id="nickname" class="form-control">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control">
            </div>
            <button class="btn btn-primary">Add contact</button>
        </form>
    </div>
</div>