<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/css/bootstrap.css">
</head>

<body>

  <% if(user) { %>
  <p>You are logged in as: <%- user.username %> </p>
  <a href="/auth/logout" class="btn btn-primary">Logout</a>
  <% } else { %>
  <p>
    <a href="/auth/login" class="btn btn-primary">Please Login</a>
    <a href="/auth/register" class="btn btn-primary">Register</a>
  </p>
  <%}  %>

  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <p>
    <a href="/contacts" class="btn btn-primary">View contacts</a>
  </p>
</body>

</html>