<h1>Your contacts</h1>
<p>Here is a list of your contacts.</p>
<p>
    <a href="#" id="delete" class="btn btn-danger">Delete</a>
    <a href="/contacts/add" id="add" class="btn btn-primary">Add new</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Nickname </th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input type="checkbox" id="1">
            </td>
            <td>
                <a href="/contacts/1"> Joe Smith Plumber</a>
            </td>
            <td>Joe</td>
            <td> <a href="mailito:cricci@gmail.com"> cricci@gmail.com</a></td>
        </tr>
        <tr>
            <td>
                <input type="checkbox" id="2">
            </td>
            <td>
                <a href="/contacts/2"> Carla Ricci - Principal Division Producer</a>
            </td>
            <td>Carla</td>
            <td> <a href="mailito:carla@gmail.com"> carla@gmail.com</a></td>
        </tr>
    </tbody>
</table>